

<div class="row">
  <div class="col-6">
  </div>

  <div class="col-5">
    <div class="container bg-transparent border-none" align="CENTER">
      <div class="card-body">
        <div class="card bg-danger mb-3">
          <div class="card-body" align="CENTER">
            <div class="container bg-transparent border-none">
              <div class="actions">
                <h1>YOU DID IT!</h1>
                <%= button_to("Go again?", '/', method: 'get', class: "btn btn-primary") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-1">
  </div>

</div>
