<div class="row">
  <div class="col-6">
  </div>

  <div class="col-5">
    <div class="container bg-transparent border-none" align="CENTER">
      <div class="card-body">
        <div class="card bg-danger mb-3">
          <div class="card-header" align="CENTER">
            <h2>Welcome to Spam Jam, Flatiron School's premier spamming tool.</h2>
          </div>
          <div class="card-body" align="CENTER">
            <image  src="https://vignette.wikia.nocookie.net/creepypasta/images/f/f3/Spam.png" width=100% height=auto/>
          </div>
          <div class="card-footer">
            <%= button_to("spam your friend", new_1_path, method: 'get', class: "btn btn-primary") %>
            <br>
            <%= button_to("analytics", spam_emails_path, method: 'get', class: "btn btn-primary") %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-1">
  </div>

</div>
